*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
#carts{
    width: 75%;
    /* background-color: aquamarine; */
    margin: 20px auto;
    }
    #h2tag{
        text-align: center;
        margin: 10px;
    }
    #outercart{
        display: grid;
        grid-template-columns: repeat(1,auto);
        cursor: pointer;
    }
    .cart{
        margin: 25px;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cart-image{
        height: 250px;
        width: 200px;
        padding: 5px 15px;
    }
    .cart-content{
        font-size: 1.1rem;
        margin: 15px 0px;
        font-weight: bold;
    }
    .cart-price{
        font-weight: bold;
        font-size: 0.9rem;
        padding: 10px 15px;
    }
    .cart-description{
        font-weight: bold;
        font-size: 0.8rem;
        padding: 10px;
        word-spacing: 2px;
        letter-spacing: 1px;
    }
    .cartbtn{
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: rgb(12, 145, 189);
        color: #fff;
        margin: 10px;
        cursor: pointer;
    }


    @media only screen and (max-width:320px){
            #h2tag{
                font-size: 0.7rem;
            }
            .cart-image{
                height: 180px;
                width: 150px;
                padding: 0px 15px;
            }
            .cart-content{
                font-size: 0.8rem;
            }
            .cart-price{
                font-size: 0.9rem;
                padding: 10px;
            }
            .cart-description{
                font-size: 0.6rem;
            }
            .cartbtn{
                padding: 5px 10px;
                font-size: 0.6rem;
            }
    }


    @media only screen and (min-width:321px)and (max-width:425px){
            #h2tag{
                font-size: 0.7rem;
            }
            .cart-image{
                height: 180px;
                width: 150px;
                padding: 0px 15px;
            }
            .cart-content{
                font-size: 0.8rem;
            }
            .cart-price{
                font-size: 0.9rem;
                padding: 10px;
            }
            .cart-description{
                font-size: 0.6rem;
            }
            .cartbtn{
                padding: 5px 10px;
                font-size: 0.6rem;
            }
    }


    @media only screen and (min-width:426px)and (max-width:768px){
            #h2tag{
                font-size: 1.1rem;
            }
            .cart-image{
                height: 200px;
                width: 170px;
                padding: 0px 15px;
            }
            .cart-content{
                font-size: 1rem;
            }
            .cart-price{
                font-size: 1rem;
                padding: 10px;
            }
            .cart-description{
                font-size: 0.7rem;
            }
            .cartbtn{
                padding: 10px 15px;
                font-size: 0.8rem;
            }
    }



    @media only screen and (min-width:769px)and (max-width:1024px){
            #h2tag{
                font-size: 1.1rem;
            }
            .cart-image{
                height: 200px;
                width: 170px;
                padding: 0px 15px;
            }
            .cart-content{
                font-size: 1.1rem;
            }
            .cart-price{
                font-size: 1rem;
                padding: 10px;
            }
            .cart-description{
                font-size: 0.9rem;
            }
            .cartbtn{
                padding: 10px 20px;
                font-size: 0.9rem;
            }
    }